<meta property="og:title" content="{{ project.title }} - Dimitri Gaggioli">
<meta property="og:description" content="{{ project.tagline }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ absolute_url }}">
{% if project.featured_image %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ project.featured_image.url }}">
{% endif %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ project.title }}">
<meta name="twitter:description" content="{{ project.tagline }}">
