.contact-ascii-container {
	margin-bottom: 5vh;
}

.contact-ascii-alt {
	display: none;
	font-family: 'Array', sans-serif;
	font-size: 60px;
	font-weight: 400;
	color: #95ff17;
	text-align: center;
}

.person-name {
	font-family: 'Array', sans-serif;
	font-size: 60px;
	font-weight: 400;
	color: #95ff17;
	text-align: center;
	margin-bottom: -20px;
}

@media screen and (max-width: 768px) {
	.contact-ascii-alt {
		display: inline;
	}
	.contact-ascii {
		display: none;
	}
}

@media (max-width: 480px) {
	.person-name {
		font-size: 42px;
	}
}

@media (max-width: 330px) {
	.person-name {
		font-size: 28px;
	}
}