.logo {
	font-size: 6px;
	color: #95ff17;
	font-family: monospace;
	font-weight: 700;
	text-shadow: 0 0 1px #95ff17, 
				 0 0 2px #9dfd28,
				 0 0 3px #acf750,
				 0 0 5px #c6fe81,
				 0 0 8px #eaffd1;
	animation: glow 1s ease-out infinite;
  }

  @keyframes glow {
	0%, 9%, 11%, 20%, 34%, 40%, 55%, 64%, 78%, 100% {
	  text-shadow: 0 0 1px #95ff17,
				   0 0 2px #9dfd28,
				   0 0 3px #acf750,
				   0 0 5px #c6fe81,
				   0 0 8px #eaffd1;
	}
	7%, 13%, 27%, 37%, 59%, 70%, 85%, 92% {
	  text-shadow: none;
	}
  }
  
  @media (min-width: 1920px) {
	.logo {
	  font-size: 12px;
	}
  }