.navbar-button-container {
	margin: auto;
	padding: 0.5rem 1rem;
	display: block;
	max-width: 80%;
}

.logo-container {
	display: flex;
	align-items: center; 
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.logo {
	max-height: 10vh;
	font-size: 6px;
	color: #95ff17;
	font-family: monospace;
	font-weight: 700;
	text-shadow: 0 0 1px #95ff1780, 
				 0 0 2px #9dfd2870,
				 0 0 3px #acf75060,
				 0 0 5px #c6fe8160,
				 0 0 11px #eaffd150;
	animation: glow 1s ease-out infinite;

  }

  .logo-svg {
	width: 300px;
	animation: glow-svg 1s ease-in-out infinite;
  }

  @keyframes glow {
	0%, 9%, 11%, 20%, 34%, 40%, 55%, 64%, 78%, 100% {
	  text-shadow: 0 0 1px #95ff1780,
				   0 0 2px #9dfd2870,
				   0 0 3px #acf75060,
				   0 0 5px #c6fe8160,
				   0 0 11px #eaffd150;
	}
	7%, 13%, 27%, 37%, 59%, 70%, 85%, 92% {
	  text-shadow: none;
	}
  }

  @keyframes glow-svg {
	0%, 9%, 11%, 20%, 34%, 40%, 55%, 64%, 78%, 100% {
	  filter: drop-shadow(0 0 1px #95ff1780) 
	        drop-shadow(0 0 2px #9dfd2870) 
			drop-shadow(0 0 3px #acf75060) 
			drop-shadow(0 0 5px #c6fe8160) 
			drop-shadow(0 0 11px #eaffd150);
	}
	7%, 13%, 27%, 37%, 59%, 70%, 85%, 92% {
		filter: none;
	}
  }
  
  @media (min-width: 1700px) {
	.logo {
	  font-size: 12px;
	}
  }

  @media (max-width: 768px) {
	.navbar-button-container {
		max-width: 90%;
	}
	.navlink-container, .navlink {
		display: none;
	}
	.logo-container {
		/* width: 100%;
		display: flex;
		justify-content: center;
		align-items: center; */
		margin: 0 auto;
		justify-content: center;
	}

	.logo-svg {
		margin: 0 auto;
	}
	
	/* .logo-svg { */
		/* display: none; */
	/* } */
}

@media (max-width: 480px) {
	.logo-svg {
		display: none;
	}
}