<div class="contact-ascii-container">
  <pre 
    class="logo contact-ascii text-[6px] text-[#95ff17] group-hover:text-[#a5ec51] transition:text-shadow-[0px 0px 3px #0e913b]" 
    aria-hidden="true" 
    style="font-weight: bold;font-family: 'IBM Plex Mono', monospace; text-shadow: 0px 0px 9px #0e913b; margin-left: -24px;color: #95ff17;"
    >
   ________  ________  ________   _________  ________  ________ _________    
  |\   ____\|\   __  \|\   ___  \|\___   ___\\   __  \|\   ____\\___   ___\ 
  \ \  \___|\ \  \|\  \ \  \\ \  \|___ \  \_\ \  \|\  \ \  \___\|___ \  \_| 
   \ \  \    \ \  \\\  \ \  \\ \  \   \ \  \ \ \   __  \ \  \       \ \  \  
    \ \  \____\ \  \\\  \ \  \\ \  \   \ \  \ \ \  \ \  \ \  \____   \ \  \ 
     \ \_______\ \_______\ \__\\ \__\   \ \__\ \ \__\ \__\ \_______\  \ \__\
      \|_______|\|_______|\|__| \|__|    \|__|  \|__|\|__|\|_______|   \|__|
  </pre>
  <h2 class="logo contact-ascii-alt">Contact</h2>                                                      
</div>                                                               
                                                                          