<pre class="logo text-[6px] text-[#95ff17] hidden sm:block group-hover:text-[#a5ec51] transition:text-shadow-[0px 0px 3px #0e913b]" aria-hidden="true" style="font-weight: bold;font-family: monospace;text-shadow: 0px 0px 9px #0e913b; margin-left: -24px;color: #95ff17;">
____  _           _ _        _    ____                   _       _ _ 
|  _ \(_)_ __ ___ (_) |_ _ __(_)  / ___| __ _  __ _  __ _(_) ___ | (_)
| | | | | '_ ` _ \| | __| '__| | | |  _ / _` |/ _` |/ _` | |/ _ \| | |
| |_| | | | | | | | | |_| |  | | | |_| | (_| | (_| | (_| | | (_) | | |
|____/|_|_| |_| |_|_|\__|_|  |_|  \____|\__,_|\__, |\__, |_|\___/|_|_|
                                              |___/ |___/                         
</pre>