<pre class="logo text-[6px] text-[#95ff17] hidden sm:block group-hover:text-[#a5ec51] transition:text-shadow-[0px 0px 3px #0e913b]" aria-hidden="true" style="font-weight: bold;font-family: monospace;text-shadow: 0px 0px 9px #0e913b; margin-left: -24px;color: #95ff17;">
	__
   /\ \  __
   \_\ \/\_\    ___ ___
   /'_` \/\ \ /' __` __`\
  /\ \L\ \ \ \/\ \/\ \/\ \
  \ \___,_\ \_\ \_\ \_\ \_\  ___
   \/__,_ /\/_/\/_/\/_/\/_/ /\_ \
		 __      __      __ \//\ \
	   /'_ `\  /'_ `\  /'_ `\ \ \ \
	  /\ \L\ \/\ \L\ \/\ \L\ \ \_\ \_
	  \ \____ \ \____ \ \____ \/\____\
	   \/___L\ \/___L\ \/___L\ \/____/
		 /\____/ /\____/ /\____/
		 \_/__/  \_/__/  \_/__/        
</pre>