{% load static %}

  <!-- <pre class="logo hidden sm:block group-hover:text-[#a5ec51] transition:text-shadow-[0px 0px 3px #0e913b]" aria-hidden="true" style="margin-left: -24px;">
      __
     /\ \  __
     \_\ \/\_\    ___ ___
     /'_` \/\ \ /' __` __`\
    /\ \L\ \ \ \/\ \/\ \/\ \
    \ \___,_\ \_\ \_\ \_\ \_\  ___
     \/__,_ /\/_/\/_/\/_/\/_/ /\_ \
  		 __      __      __ \//\ \
  	   /'_ `\  /'_ `\  /'_ `\ \ \ \
  	  /\ \L\ \/\ \L\ \/\ \L\ \ \_\ \_
  	  \ \____ \ \____ \ \____ \/\____\
  	   \/___L\ \/___L\ \/___L\ \/____/
  		 /\____/ /\____/ /\____/
  		 \_/__/  \_/__/  \_/__/        
  </pre> -->
  <img src="{% static 'images/logo.svg' %}" alt="Logo" class="logo-svg">
