<header class="sticky top-0 z-50 min-h-fit border-b border-neutral-900/60 bg-transparent backdrop-blur transition-transform duration-300 ease-in-out">
  <div class="navbar-button-container">
    <div class="logo-container">
      <a href="{% url 'core:home' %}" class="flex gap-3 max-w-fit">
        {% include 'core/components/logo.html' %}
      </a>
      <nav class="navlink-containergap-3 text-base text-(--color-text-secondary) font-mono font-bold font-size-sm">
        <a class="navlink hover:text-(--color-text-primary) hover:translate-y-1" href="{% url 'projects:list' %}">PROJECTS</a>
        <a class="navlink hover:text-(--color-text-primary) hover:translate-y-1" href="{% url 'core:about' %}">ABOUT</a>
      </nav>
    </div>
  </div>
</header>


