<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Dimitri Gaggioli",
  "jobTitle": "Python Developer - Backend",
  "url": "{{ request.build_absolute_uri }}",
  "sameAs": [
    "https://github.com/dim-gggl",
    "https://instagram.com/remo_nesa",
    "https://instagram.com/laclefrevival"
  ],
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Paris",
    "addressRegion": "Ile-de-France",
    "addressCountry": "FR"
  },
  "email": "dimitri.gaggioli@gmail.com",
  "telephone": "+33620156172",
  "alumniOf": {
    "@type": "EducationalOrganization",
    "name": "OpenClassrooms"
  },
  "knowsAbout": ["Python", "Django", "API REST", "Backend Development", "PostgreSQL"]
}
</script>

